<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        {{>header}}
        <img src="/img/robot_PNG43.png">
        {{>footer}}
    </body>
</html>